body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    text-align: center;
}


table{
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}


th,td{
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th{
    background: #b7acac;
}

.delete-btn{
    background-color: rgb(53, 53, 241);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}